<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workouts List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Workouts List</h1>
    <form th:action="@{/workouts/list}" method="get" class="mb-4">
        <div class="form-row">
            <div class="mb-3">
                <label for="user-id" class="form-label">User:</label>
                <select id="user-id" th:field="*{user.userId}" class="form-control">
                    <!-- Pusta opcja na początku -->
                    <option value="" th:text="'Select a user'"></option>
                    <option th:each="user : ${users}"
                            th:value="${user.getUserId()}"
                            th:text="${user.getName()} + ' ' + ${user.getSurname()}"></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Filter</button>
    </form>
    <!-- Lista treningów -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workout : ${workouts}">
            <td th:text="${workout.workout_id()}"></td>
            <td th:text="${workout.name()}"></td>
            <td th:text="${workout.description()}"></td>
            <td th:text="${workout.startDate()}"></td>
            <td th:text="${workout.endDate()}"></td>
            <td th:text="${workout.duration()}"></td>
            <td>
                <a th:href="@{/workouts/status/{workoutId}(workoutId=${workout.workout_id()})}" class="btn btn-info btn-sm">View</a>
                <form th:action="@{/workouts/end}" method="post" class="d-inline">
                    <input type="hidden" th:name="workoutId" th:value="${workout.workout_id()}" />
                    <input type="hidden" th:name="endDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"/>
                    <button type="submit" class="btn btn-danger btn-sm">End</button>
                </form>
                <form th:action="@{/workouts/{workoutId}(workoutId=${workout.workout_id()})}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-warning btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/workouts/start}" class="btn btn-secondary mt-3">Start New Workout</a>
    <a th:href="@{/workouts/create-user}" th:method="get" class="btn btn-primary mt-3">Create New User</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>